src/main/mule/git-assignment1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3e50daac-ad2d-45ea-81ea-72ab9596a5f4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a7ed85b8-ab20-44b8-8e11-b9c36a547ecf" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="12345" database="empdetails" />
	</db:config>
	<flow name="git-assignment1Flow" doc:id="ba3ee7fb-75d6-4d60-ae80-00861e0bbedb" >
		<http:listener doc:name="Listener" doc:id="9fbbe319-61cb-41f2-ad4d-1cd27698fd2a" config-ref="HTTP_Listener_config" path="/testgit/{empid}"/>
		<set-payload value='#["empid" : attributes.uriParams.empid]' doc:name="Set Payload" doc:id="15516809-ccf3-4e47-9d83-8ec65b432bef" />
	</flow>
</mule>
