src/main/mule/git-assignment1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3e50daac-ad2d-45ea-81ea-72ab9596a5f4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a7ed85b8-ab20-44b8-8e11-b9c36a547ecf" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="12345" database="empdetails" />
	</db:config>
	<flow name="git-assignment1Flow" doc:id="ba3ee7fb-75d6-4d60-ae80-00861e0bbedb" >
		<http:listener doc:name="Listener" doc:id="9fbbe319-61cb-41f2-ad4d-1cd27698fd2a" config-ref="HTTP_Listener_config" path="/testgit/{empid}"/>
		<db:select doc:name="Select" doc:id="fcbbad26-0462-4e8c-ace0-4a5b21a442f2" config-ref="Database_Config">
			<db:sql><![CDATA[select * from employee where EMPID = :empid]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	empid : attributes.uriParams.empid
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="3808ea49-2660-47a3-8a6f-df3f0a1dae34" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="d70eaba8-2a7f-48fd-ad1b-095c91d97727" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
